<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="../scss/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
   
</head>
<div class="conhed">
    <header class="main-header">
        <div class="logo">
            <a href="../index.html"><img src="../img/logo-exoo.gif" alt="logo-exo" id='logo-exo'></a>
        </div>
        <input type="checkbox" class="menu-btn" id="menu-btn">
        <label for="menu-btn" class="menu-icon">
            <span class="menu-icon__line"></span>
        </label>
        <ul class="nav-links">
            <li class="nav-link">
              <a href="../index.html">hOME</a>  
            </li>
            <li class="nav-link">
             <a href="../reserve.html">RESERVER</a>
            </li>
            <li class="nav-link">
                <a href="">CONTACT</a>
            </li>
          
        </ul>     
    </header>
    <div class="border-gradient"></div>
</div>
   

<div class="border-gradient"></div>




<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="containlog">
     

   <form class="box">
    <div><input type="text" name="name" placeholder="Name" id="name" ></div> 
    <div><input type="password" name="password1" placeholder="password"   id="password1"></div> 
    <div><input type="password" name="password2" placeholder="confirm password"   id="password2" ></div> 
    <input type="submit" name="" value="Register"  onclick="validation()" >
    
 </form>



    </div>

<div class="border-gradient"></div>
<div class="samta">
    <div class="margin_space"><h1>Subscribe To Newsletter</h1></div>
    
    <div class="margin_space"><input type="text" name="tellus" placeholder="  Write Your Email"></div>
    <div>
        <div class="btn">

            <div class="t1"><p>SUBMIT</p> </div>
       
        </div>
    </div>
    
</div>
<div class="border-gradient"></div>

<div class="space"></div>
<footer id="f1">
    <div class="divsfooter">
        <div id="dfooter1"> <h1> <img src="../img/logo-exoo.gif" alt="logo2" width="20%">  </h1> 
        <p> EXO-GEAR </p>
            <span>
                <i class="fab fa-instagram" style="margin-top: 10px;"></i>
            </span>
            <span>
                <i class="fab fa-twitter" style="margin-top: 10px;"></i>
            </span>
            <span>
                <i class="fab fa-linkedin-in" style="margin-top: 10px;"></i>
            </span>
    </div>

        
        <div id="dfooter4">
        <h1> CONTACT US</h1>
        <p> Feel free to get in touch with us via phone or send
            us a message </p>
    
        <p>+1 800 123 1234</p> <p>email@website.com</p>
        </div>
    </div>
    <div class="space"></div>
    <div class="border-gradient"></div>
    <div id="childfooter" class="chfooter">
        
        <div >
            <p> @Copyright 2019. All Right Reserved</p>
        </div>
               
           
        
    </div>
    </footer> 
    <script src="../js/register.js"></script>   
<body>
    
</body>
</html>